.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-header h1 {
  margin: 2rem;
  font-weight: 700;
  text-shadow: 2px 3px 0px #bbb6b6;
}
.container {
  width: 60%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 10px 15px;
}
.form-desc {
  text-align: center;
}
.no-feedback {
  width: 100%;
}
.search {
  width: 35%;
  margin: auto;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
